.bg-custom-primary {
  background-color: #0b82e4; /* Custom primary color */
}

.bg-custom-secondary {
  background-color: #49da68; /* Custom primary color */
}

.logo-outline {
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
}
